body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: orange;
}
#logo{
    font-size: 50px;
}
header{
    background: black;
    padding: 10px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li{
    display: inline-block;
}
button{
    padding: 1em;
    width: 8em;
    height: inherit;
    background-color: black;
    color: white;
    border: none;
    transition: transform 0.3s ease;
        font-family: "Oswald";
}
button:hover{
    background-color: rgb(68, 68, 68);
    transform: scale(1.06);
}
.MeetingHeader{
    background-image: url(Pictures/duotone.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 3.5em;
    height: 666px;
    text-align: center;
    position: relative;
}

.MeetingHeader h1{
    font-family: "Rockwell";
    font-size: 250px;
    position: relative;
    margin: 0;
}
.MeetingHeader h2{
    margin-top: -10px;
}
.list{
    background-color: black;
    margin: 0;
    padding: 2em;
}
.list1, .list2, .list3{
    background-image: url(Pictures/Lists.png);
    background-position: center;
    padding: 2em 10%;
    border-radius: 20px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
}
#list1{
    font-size: 150px;
}
#list2, #list3{
    font-size: 200px;
}